# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
.vs/
.vscode/
bin-debug/
bin-release/
build_generated/
build/
shaders_generated/
out/

# Files
integrator_pt1_generated.cpp
integrator_pt1_generated.h
integrator_pt1_generated_ds.cpp
integrator_pt1_generated_init.cpp
integrator_pt1_temp.cpp
include/Integrator_generated_ubo.h
