# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
.vs/
.vscode/
bin-debug/
bin-release/
build_generated/
out/

# Slicer
integrator_pt_generated.cpp
integrator_pt_generated.h
integrator_pt_generated_ds.cpp
integrator_pt_generated_init.cpp
integrator_pt_temp.cpp

shaders_generated/

include/Integrator_generated_ubo.h

# Scripts
build_cpu.sh
build_dbg.sh
build_gpu.sh
build.sh